<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/firstpage.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <div class="container">
            <a href="/student-page" class="card-link">
                <div class="card" id="student-card">
                    <img src="/images/student.png" alt="student-icon">
                    <div class="card-content">
                        <h2 class="card-title">Student</h2>
                    </div>
                </div>
            </a>
    
            <a href="/incharge-page" class="card-link">
                <div class="card" id="teacher-card">
                    <img src="/images/incharge.png" alt="Incharge-icon">
                    <div class="card-content">
                        <h2 class="card-title">Incharge</h2>
                    </div>
                </div>
            </a>
    
            <a href="/admin-page" class="card-link">
                <div class="card" id="admin-card">
                    <img src="/images/admin.png" alt="admin-icon">
                    <div class="card-content">
                        <h2 class="card-title">Admin</h2>
                    </div>
                </div>
            </a>
        </div>
    </main>
</body>
</html>
