<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            margin: 0;
            padding: 0;
        }

        .profile {
            width: calc(100% - 50px);
            margin: 0 auto;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            padding: 20px;
        }

        .profile-header {
            margin-bottom: 20px;
            padding: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 7px;
         
        }

        .profile-picture {
            max-width: 200px;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }

        .incharge-name {
            font-size: 24px;
        }

        .incharge-id {
            font-size: 16px;
            color: #555;
        }

        .incharge-club {
            font-size: 16px;
            color: #585656;
        }

        .incharge-department {
            font-size: 16px;
            color: #585656;
        }

        .profile-cards {
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 7px;
        }

        .card {
            width: 200px;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 10px;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            color: white;
            background-color: #f5f5f5;
            transition: transform 0.3s, background-color 0.3s;
        }

        .card:nth-child(1) {
            background-color: #f3447e; 
        }

        .card:nth-child(2) {
            background-color: #f01717; 
        }

        .card:nth-child(3) {
            background-color: #dc4af3; 
        }

        .card:nth-child(4) {
            background-color: #f0ff4a; 
        }

        .card:nth-child(5) {
            background-color: #ef3f51; 
        }

        .card:nth-child(6) {
            background-color: #77f65d; 
        }

      

        .card:nth-child(1):hover {
            transform: scale(1.05);
            background-color: #ed5b88; 
        }

        .card:nth-child(2):hover {
            transform: scale(1.05);
            background-color: #d02d2d; 
        }

        .card:nth-child(3):hover {
            transform: scale(1.05);
            background-color: #b22cff; 
        }

        .card:nth-child(4):hover {
            transform: scale(1.05);
            background-color: #d3e572; 
        }

        .card:nth-child(5):hover {
            transform: scale(1.05);
            background-color: #e52d3d; 
        }

        .card:nth-child(6):hover {
            transform: scale(1.05);
            background-color: #4edc60; 
        }

        

        h2 {
            font-size: 18px;
            color: white;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .add-certificate,
        .print-data {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
        }

        a {
            text-decoration: none;
            color: inherit;
        }

        .add-certificate:hover,
        .print-data:hover {
            background-color: #0056b3;
        }

        .card img {
            max-width: 70px;
        }

        /* back button */
        #backButtonContainer {
            position: fixed;
            top: 10px;
            left: 10px;
        }

        #goBack {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <title>Incharge Profile</title>
</head>
<body>
    <div class="profile">
        <div class="profile-header">
            <img class="profile-picture" src="/images/incharge.png" alt="Incharge Picture">
            <h1 class="incharge-name">Sujitha</h1>
            <p class="incharge-id">Incharge ID: 12345</p>
            <p class="incharge-club">Incharge of Club: Swara Club</p>
            <p class="incharge-department">Department: Computer Science</p>
        </div>
        <div class="profile-cards">
            <a href="/incharge-profile/createevent" class="card">
                <div>
                    <img src="/images/add-event.png" alt="Icon 1">
                    <h2>Create New Event</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div>
                    <img src="/images/registered.png" alt="Icon 2">
                    <h2>Registerd Students</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div>
                    <img src="/images/addimages.png" alt="Icon 3">
                    <h2>Add Event Images</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div>
                    <img src="/images/addwinners.png" alt="Icon 4">
                    <h2>Add Winners</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div>
                    <img src="/images/editprofile.png" alt="Icon 7">
                    <h2>Edit Profile</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div>
                    <img src="/images/printer.png" alt="Icon 8">
                    <h2>Print Event Data</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
