<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            margin: 0;
            padding: 0;
        }

        .profile {
            width: calc(100%-10px);
            margin: 0 auto;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .profile-header {
            padding: 20px;
            text-align: center;
            border-radius: 7px;
            margin-bottom: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        .profile-picture {
            max-width: 200px;
            border-radius: 50%;
            background-color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }

        .student-name {
            font-size: 24px;
        }

        .roll-number {
            font-size: 16px;
            color: #555;
        }

        .studying-info {
            font-size: 16px;
            color: #555;
        }

        .profile-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
            border-radius: 7px;

        }

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 150px;
            padding: 20px;
            margin: 10px;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            color: white;
            background-color: #f5f5f5;
            transition: transform 0.2s;
        }

        .card:nth-child(1) {
            background-color: #f35d8f; 
        }

        .card:nth-child(2) {
            background-color: #f1b53d; 
        }

        .card:nth-child(3) {
            background-color: #ce3fe4; 
        }

        .card:nth-child(4) {
            background-color: #e3f145; 
        }

        .card:nth-child(5) {
            background-color: #f14c5c; 
        }
        .card:nth-child(6) {
            background-color: #4cf151; 
        }
        .card:nth-child(7) {
            background-color: #526df4; 
        }

        .card:hover {
            transform: scale(1.05);
        }

        h2 {
            font-size: 18px;
            color:white;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 16px;
            margin-bottom: 5px;
        }

        
    </style>
    <title>User Profile</title>
</head>
<body>
    <div class="profile">
        <div class="profile-header">
            <img class="profile-picture" src="/images/student.png" alt="Student Picture">
            <h1 class="student-name">John Doe</h1>
            <p class="roll-number">Roll Number: 12345</p>
            <p class="studying-info">Year: 2nd Year, Branch: Computer Science</p>
        </div>
        <div class="profile-cards">
            <div class="card">
                <h2>Total App Points</h2>
                <p>500</p>
            </div>
            <div class="card">
                <h2>App Points this Semester</h2>
                <p>80</p>
            </div>
            <div class="card">
                <h2>Total Events Participated</h2>
                <p>12</p>
            </div>
            <div class="card">
                <h2>Events this Semester</h2>
                <p>4</p>
            </div>
            <div class="card">
                <h2>Events Won</h2>
                <p>2</p>
            </div>
            <div class="card">
                <h2>Certificates</h2>
            </div>
            <div class="card">
                <h2>Print Profile data</h2>
            </div>
        </div>
    </div>
</body>
</html>
