<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            font-family: Arial, sans-serif;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            margin: 0;
            padding: 0;
        }

        .profile {
            max-width: 800px;
            margin: 0 auto;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        .profile-header {
            text-align: center;
            width: calc(100%-10px);
            margin: 0 auto;
            background: linear-gradient(to bottom, #3498db, #ffffff);
            padding: 20px;
            /* border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
        }

        .profile-header {
            margin-bottom: 20px;
            padding: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 7px;
            background-color: rgb(194, 185, 185);}

        .profile-picture {
            max-width: 200px;
            border-radius: 50%;
            border: 1px solid blue;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        }

        .student-name {
            font-size: 24px;
        }

        .roll-number {
            font-size: 16px;
            color: #555;
        }

        .studying-info {
            font-size: 16px;
            color: #585656;
        }

        .profile-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-radius: 7px;
        }

        .card {
            width: 200px;
            background-color: #fff;
            height: 120px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin: 10px;
            text-align: center;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
        }

        h2 {
            font-size: 18px;
            color: #333;
            color: white;
            background-color: #f5f5f5;
            transition: transform 0.3s, background-color 0.3s;
        }

        .card:nth-child(1) {
            background-color: #f3447e; 
        }

        .card:nth-child(2) {
            background-color: #f01717; 
        }

        .card:nth-child(3) {
            background-color: #dc4af3; 
        }

        .card:nth-child(4) {
            background-color: #f0ff4a; 
        }

        .card:nth-child(5) {
            background-color: #ef3f51; 
        }
        .card:nth-child(6) {
            background-color: #77f65d; 
        }
        .card:nth-child(8) {
            background-color: #4964ee; 
        }
        .card:nth-child(7) {
            background-color: #f8a03b; 
        }
        .card:nth-child(1):hover {
            transform: scale(1.05);
            background-color: #ed5b88; 
        }
        .card:nth-child(2):hover {
            transform: scale(1.05);
            background-color: #d02d2d; 
        }
        .card:nth-child(3):hover {
            transform: scale(1.05);
            background-color: #b22cff; }
        .card:nth-child(4):hover {
            transform: scale(1.05);
            background-color: #d3e572; }
        .card:nth-child(5):hover {
            transform: scale(1.05);
            background-color: #e52d3d; 
        }
        .card:nth-child(6):hover {
            transform: scale(1.05);
            background-color: #4edc60; 
        }
        .card:nth-child(8):hover {
            transform: scale(1.05);
            background-color: #3d51f2; 
        }
        .card:nth-child(7):hover {
            transform: scale(1.05);
            background-color: #f1740e; 
        }

        

        h2 {
            font-size: 18px;
            color: white;
        }

        p {
            font-size: 24px;
            font-weight: bold;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            font-size: 16px;
            margin-bottom: 5px;
        }

        .add-certificate,
        .print-data {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 10px;
            cursor: pointer;
        }
        .add-certificate:hover,
        .print-data:hover {
            background-color: #0056b3;
        }
        a {
            text-decoration: none; 
            color: inherit; 
           
        }
        .add-certificate:hover,
        .print-data:hover {
            background-color: #0056b3;
        }

        .card img {
            max-width: 70px;
            
        }
        #backButtonContainer {
            position: fixed;
            top: 10px;
            /* Adjust the top distance as needed */
            left: 10px;
            /* Adjust the left distance as needed */
        }

        #goBack {
            text-decoration: none;
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
    <title>User Profile</title>
</head>
    <title>User Profile</title>
</head>
<body>
    <div class="profile">
        <div class="profile-header">
            <img class="profile-picture" src="/images/student.png" alt="Student Picture">
            <h1 class="student-name">Rakheeb Ahamed</h1>
            <p class="roll-number">Roll Number: 20711A05G1</p>
            <p class="studying-info">Year: 4th Year</p>
            <p class="studying-info"> Branch: Computer Science</p>
        </div>
        <div class="profile-cards">
            <a href="#" class="card">
                <div >
                    <img src="/images/reward.png" alt="Icon 1">
                    <h2>Total App Points</h2>
        
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/totalpoints.png" alt="Icon 2">
                    <h2>App Points this Semester</h2>
                   
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/banner.png" alt="Icon 3">
                    <h2>Total Events Participated</h2>
                   
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/events.png" alt="Icon 4">
                    <h2>Events this Semester</h2>
                   
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/trophy.png" alt="Icon 5">
                    <h2>Events Won</h2>
                  
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/certificate.png" alt="Icon 6">
                    <h2>Certificates</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/addnew.png" alt="Icon 7">
                    <h2>Add New</h2>
                </div>
            </a>
            <a href="#" class="card">
                <div >
                    <img src="/images/printer.png" alt="Icon 8">
                    <h2>Print Profile Data</h2>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
