<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: linear-gradient(to bottom, #3498db, #51a1f7);
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    .container {
      display: flex;
      margin: 20px;
      gap: 20px;
    }

    .left-container {
      flex: 30%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .profile-container {
      flex: 40%;
    }

    .events-container {
      flex: 60%;
    }

    .right-container {
      flex: 70%;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .above-right-container {
      flex: 40%;
      background-color: #ffffff;
     
      padding: 20px;
      border-radius: 5px;
      text-align: center;
    }

    .below-right-container {
      flex: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;
    }

    .container-card {
      background-color: #f8f8f8;
    
      padding: 20px;
      border-radius: 5px;
    }

    .profile-card, .events-card {
      text-align: center;
    }

    .child-card {
      width: calc(33.33% - 20px);
      height: 150px;
      background-color: #eee8e8; 
      
      border-radius: 5px;
      display: flex;
      color: rgb(67, 63, 63);
      align-items: center;
      justify-content: center;
      cursor: pointer;
      text-align: center; 
      text-decoration: none;
      

    }

    .child-card img {
      max-width: 47px;
      max-height: 47px;
      display: block; 
      margin: 0 auto;
    }

    .child-card h2 {
      font-size: 14px;
      margin: 10px 0;
    }

    .child-card:nth-child(1) {
      background-color: #f3447e;
    }

    .child-card:nth-child(2) {
      background-color: #f01717;
    }

    .child-card:nth-child(3) {
      background-color: #dc4af3;
    }

    .child-card:nth-child(4) {
      background-color: #f0ff4a;
    }

    .child-card:nth-child(5) {
      background-color: #ef3f51;
    }

    .child-card:nth-child(6) {
      background-color: #77f65d;
    }

    .child-card:nth-child(8) {
      background-color: #4964ee;
    }

    .child-card:nth-child(7) {
      background-color: #f8a03b;
    }

    .child-card:hover {
      transform: scale(1.05);
    }

    .profile-stats {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .stat-item {
      text-align: center;
      display: flex;
      gap: 18px;
      flex-direction: column;
    }

    .stat-heading {
      font-size: 13px;
    }

    .stat-number {
      font-weight: bold;
      font-size: 25px;
    }

    /* Media Query for smaller screens */
    @media (max-width: 768px) {
      .container {
        flex-direction: column;
      }

      .left-container,
      .right-container {
        flex: 100%;
      }

      .above-right-container {
        order: 2; 
      }

      .below-right-container {
        order: 3; 
      }

      .child-card {
        width: calc(50% - 20px); 
        height: 100px; 
      }
      .events-container {
    display: none;
  }
    }

    .info h2, .info h3 {
  display: inline;
  margin: 0;
}

.info {
  display: flex;
  align-items: center;
  margin-bottom: 2px; 
}

.side-heading, .value {
  margin: 0;
  display: inline;
  padding: 0 10px;
}

  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
  <div class="container">
    <div class="left-container">
      <div class="container-card profile-container">
        <div class="profile-card">
          <img src="/images/profilepic.jpg" alt="Profile Picture" style="width: 100px; height: 100px; border-radius: 50%;">
          <div class="info">
            <div class="side-heading"><h2>Name:</h2></div>
            <div class="value"><h4>Rakheeb Ahamed</h4></div>
          </div>
          <div class="info">
            <div class="side-heading"><h2>Roll Number:</h2></div>
            <div class="value"><h4>20711A05G1</h4></div>
          </div>
          <div class="info">
            <div class="side-heading"><h2>Branch:</h2></div>
            <div class="value"><h4>Computer Science</h4></div>
          </div>
          
        </div>
      </div>
      <div class="container-card events-container">
        <h2>Club Names</h2>
        <ul style="list-style: none; font-size: 25px;">
          <li>🎵 Swara Club</li>
          <li>🎨 Chitra Club</li>
          <li>🎥 Watcha Club</li>
          <li>🍔 Culinary Club</li>
          <li>📽️ Chalanachitra Club</li>
        </ul>
      </div>
    </div>

    <div class="right-container">
      <div class="container-card above-right-container">
        <div class="profile-stats">
          <div class="stat-item">
            <span class="stat-heading">Total Points</span>
        
            <span class="stat-number">100</span>
          </div>
          <div class="stat-item">
            <span class="stat-heading">Total Certificates</span>
          
            <span class="stat-number">5</span>
          </div>
          <div class="stat-item">
            <span class="stat-heading">Current Semester</span>
            <span class="stat-number">1000</span>
          </div>
          <div class="stat-item">
            <span class="stat-heading">Events Participated</span>
            <span class="stat-number">200</span>
          </div>
        </div>
      </div>
      <div class="container-card below-right-container">
        <a href="#" class="child-card">
          <div>
            <img src="/images/reward.png" alt="Icon 1">
            <h2>Total App Points</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/totalpoints.png" alt="Icon 2">
            <h2>App Points this Semester</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/banner.png" alt="Icon 3">
            <h2>Total Events Participated</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/events.png" alt="Icon 4">
            <h2>Events this Semester</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/trophy.png" alt="Icon 5">
            <h2>Events Won</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/certificate.png" alt="Icon 6">
            <h2>Certificates</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/addnew.png" alt="Icon 7">
            <h2>Add New</h2>
          </div>
        </a>
        <a href="#" class="child-card">
          <div>
            <img src="/images/printer.png" alt="Icon 8">
            <h2>Print Profile Data</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
</html>
