* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #3498db, #ffffff);
    font-family: Arial, sans-serif;
    color: #333;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.card-link {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}
.card {
    width: 100%; 
    background: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}








.card img {
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}

.card .card-content {
    background: #3498db;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.card-title {
    font-size: 16px;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
    background: #ecf0f1;
}

@media (max-width: 768px) {
    .card {
        width: 80%;
    }
}






